.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    border-radius: 8px;
    padding: 6px 12px;
    width: 124px;
    height: 39px;
}

.activeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    border: 1px solid var(--opacity-transparent);
    border-radius: 8px;
    padding: 6px 12px;
    width: 120px;
    height: 42px;

    background: var(--color-scheme-1-foreground);
}